@font-face {
    font-family: minefont;
    src: url(Minercraftory.ttf);
}
a {
            color: #009999;
        }
.layer {
            background-color: rgba(255,255,255,0.7);
            padding: 40px;
            width: 75%;
            box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
            margin-bottom: 40px;
            transform-style: flat;
             display: block;
  margin-left: auto;
  margin-right: auto;
        }
/* Three columns side by side */

/* Display the columns below each other instead of side by side on small screens */

/* Add some shadows to create a card effect */

/* Some left and right padding inside the container */

/* Clear floats */
`
#subtitle {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-family: minefont;
    white-space: nowrap;
    max-width: 100%;
    -webkit-text-fill-color: rgba(255, 255, 255,60%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 40%);
}

.navbar-custom {
    background-color: RGB(0, 155, 119);
 color: black;
}
.navbar-text {
    color: black;
    text-align: right;
    margin-right: 12px;
}
/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
    border-color: black;
}
.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
} 
.navbar-toggler {
margin-right: 10px;
}
@media (max-width: 1399.99px) {
}
@media (min-width: 400px) and (orientation: landscape) {
}

.yottie-widget {
    margin: auto!important;
    max-width: 850px!important;
}